.latestworklineDiv{
    position: absolute;
    top: 15px;
    left: -3%;
    width: 95%;
    height: 360%;
    transition: all 1s;
    animation: moveLine 15s infinite;
}
@media only screen and (max-width: 900px){
    .latestworklineDiv{
        height: 530%;
    }
}